:host {
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  flex: 1;
  border: 1px solid black;
}

.details {
  flex: 1;
  display: none;
  padding: 16px;

  border: 1px solid black;
}

.icon {
  display: none;
}

.show {
  display: block;
}

.active {
  display: block;
}

slot[name='icon-collapsed']::slotted(*) {
}
