:host {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  position: absolute;
  z-index: 900;
  min-width: 100%;
  min-height: 100%;
  background: rgba($color: #000000, $alpha: 0.3);
}

.content {
  position: absolute;
  z-index: 900;
  min-width: 100px;
  min-height: 100px;
  margin: 32px;
  background: #fff;
}
