.switch-background {
  display: flex;
  width: 58px;
  height: 35px;
  background: #fff;
  border-radius: 50px;
  border: 1px solid black;
  position: relative;
  transition: 0.4s;
}

.switch-knob {
  position: absolute;
  left: 0;
  width: 27px;
  height: 27px;
  margin: 4px;
  background: #000;
  border-radius: 50px;
  transition: 0.4s;
}

:host([value]) {
  .switch-background {
    background: #ccc;
    transition: 0.4s;
  }

  .switch-knob {
    left: 23px;
    transition: 0.4s;
  }

  .switch-knob[value] {
    display: none;
  }
}
